asgiref==3.9.1
click==8.3.0
colorama==0.4.6
crispy-bootstrap5==2025.6
cssbeautifier==1.15.4
dj-database-url==3.0.1
Django==4.2.24
django-allauth==65.11.2
django-crispy-forms==2.4
djlint==1.36.4
EditorConfig==0.17.1
gunicorn==20.1.0
jsbeautifier==1.15.4
json5==0.12.1
pathspec==0.12.1
psycopg2-binary==2.9.10
PyYAML==6.0.3
regex==2025.9.18
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
whitenoise==6.11.0
