{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<div class="container mt-5 home-section">
  <!-- Carousel -->
  <div id="restaurantCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/restaurant.webp' %}" class="d-block w-100" alt="Restaurant">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/burger.webp' %}" class="d-block w-100" alt="Burger">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/pizza.webp' %}" class="d-block w-100" alt="Pizza">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="prev"
      aria-label="Previous slide">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="next"
      aria-label="Next slide">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>

  <!-- Story -->
  <div class="col-md-8 d-flex flex-column justify-content-center">
    <h2>Welcome to Our Restaurant</h2>
    <p>
      Since 1985, we’ve been serving delicious meals that blend tradition with
      innovation. Whether you’re here for a cozy dinner or a festive
      gathering, we promise a warm atmosphere and unforgettable flavors. Our
      chefs carefully select the freshest ingredients to bring you a dining
      experience that feels like home.
    </p>
  </div>
</div>
{% endblock %}